Load Data
-----

In [2]:
import pandas as pd

df = pd.read_csv('../data/data_cleaned.csv')
df.head()

,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,International Reputation,...,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,Loaned Out
0,31,Argentina,94,94,FC Barcelona,110500000.0,565000.0,2202,Left,5.0,...,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,226500000.0,False
1,33,Portugal,94,94,Juventus,77000000.0,405000.0,2228,Right,5.0,...,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,127100000.0,False
2,26,Brazil,92,93,Paris Saint-Germain,118500000.0,290000.0,2143,Right,5.0,...,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,228100000.0,False
3,27,Spain,91,93,Manchester United,72000000.0,260000.0,1471,Right,4.0,...,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,138600000.0,False
4,27,Belgium,91,92,Manchester City,102000000.0,355000.0,2281,Right,4.0,...,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,196400000.0,False

In [19]:
# replace nan
categorical_col = ['Nationality', 'Club', 'Preferred Foot', 'Work Rate', 'Body Type', 'Real Face', 'Position', 'Loaned Out']
df[col] = df[col].fillna(value='nan')  # fill na for categorical features
df = df.fillna(value=df.median())  # fill na for numerical features

In [4]:
# label encoding
from sklearn import preprocessing

le = preprocessing.LabelEncoder()

for c in col:
    df[c] = le.fit_transform(df[c])

In [5]:
X = df.drop('Value', axis = 1)
y = df['Value']

Fit scikit-learn model
----

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [7]:
from sklearn.neighbors import KNeighborsRegressor

neigh = KNeighborsRegressor(n_neighbors=10)
neigh.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                    weights='uniform')

Evaluation Metric
----

In [8]:
# r squared
from sklearn.metrics import r2_score

y_pred = neigh.predict(X_test)
r2_score(y_test, y_pred)

0.9731560141385239

In [9]:
# medae
import numpy as np
np.median(np.abs(y_test - y_pred))

75000.0

# Playground

In [22]:
df = pd.read_csv('../data/data_cleaned.csv')
df.head()

,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,International Reputation,...,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,Loaned Out
0,31,Argentina,94,94,FC Barcelona,110500000.0,565000.0,2202,Left,5.0,...,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,226500000.0,False
1,33,Portugal,94,94,Juventus,77000000.0,405000.0,2228,Right,5.0,...,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,127100000.0,False
2,26,Brazil,92,93,Paris Saint-Germain,118500000.0,290000.0,2143,Right,5.0,...,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,228100000.0,False
3,27,Spain,91,93,Manchester United,72000000.0,260000.0,1471,Right,4.0,...,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,138600000.0,False
4,27,Belgium,91,92,Manchester City,102000000.0,355000.0,2281,Right,4.0,...,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,196400000.0,False

In [24]:
num_col = list(set(df.columns) - set(col))

In [33]:
num_col = list(set(df.columns) - set(col))

result = []
for col in num_col:
    if df[col].isna().any():
        result.append(col)
        
result

['BallControl',
 'Real Face',
 'GKKicking',
 'Weight',
 'LF',
 'Agility',
 'Reactions',
 'ShotPower',
 'Height',
 'SlidingTackle',
 'LDM',
 'Dribbling',
 'GKHandling',
 'RAM',
 'LWB',
 'CF',
 'LCB',
 'GKPositioning',
 'StandingTackle',
 'Contract Valid Until',
 'ShortPassing',
 'LB',
 'RW',
 'FKAccuracy',
 'Acceleration',
 'CM',
 'Body Type',
 'Position',
 'RB',
 'RCM',
 'Composure',
 'Skill Moves',
 'International Reputation',
 'Stamina',
 'GKReflexes',
 'CDM',
 'LS',
 'LW',
 'Crossing',
 'Preferred Foot',
 'RM',
 'Weak Foot',
 'Club',
 'CB',
 'CAM',
 'RF',
 'Curve',
 'LongPassing',
 'Balance',
 'RS',
 'Penalties',
 'Interceptions',
 'Aggression',
 'RWB',
 'Work Rate',
 'Vision',
 'GKDiving',
 'Finishing',
 'ST',
 'LAM',
 'Jumping',
 'Volleys',
 'LongShots',
 'LM',
 'SprintSpeed',
 'RCB',
 'RDM',
 'LCM',
 'Marking',
 'Positioning',
 'Strength',
 'HeadingAccuracy',
 'Release Clause']

In [32]:
# result

In [29]:
len(result)

67

In [30]:
len(numerical_col)

73